:root {
  --delete: #ff6961;
  --other: #d9d94e;
}

.delete {
  background-color: var(--delete);
  top: -20px;
  right: 15px;
}

.other {
  background-color: var(--other);
  top: -20px;
  right: 60px;
}

.wrapper {
  position: relative;
}

.action-btn {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 8px;
  border: 2px solid white;
  position: absolute;
  z-index: 0 !important;
  transition: all ease 0.2s;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.action-btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: -15px;
  left: -5px;
}

.action-btn:hover {
  transform: translateY(-20px);
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
}

.other:hover {
  color: black;
}

.delete:hover {
  color: red;
  /* border: red solid 2px; */
}

.App {
  text-align: center;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Quicksand";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.wrapper {
  background-color: #ccc;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://wallpapershome.com/images/pages/pic_h/23078.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Modal */

.ant-modal-root {
  line-height: unset;
}

.ant-modal {
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff !important;
}

.ant-modal-centered {
  /* backdrop-filter: blur(10px); */
  /* background-color: rgba(0, 0, 0, 0.3); */
  transition: all ease 0.3s;
}

.ant-modal-content {
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(20px);
}

.ant-modal-header {
  padding: 24px !important  ;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: transparent !important;
  border: 0px solid transparent !important;
}

.ant-modal-title {
  color: #fff !important;
  font-size: 25px !important;
  font-weight: 500 !important;
}

.ant-modal-close-x {
  color: #fff !important;
  font-weight: bold !important;
  border-radius: 10px;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
  transition: all ease 0.15s !important;
}

.ant-modal-close-x:hover {
  background-color: #fff;
  color: #000 !important;
}

.ant-modal-footer {
  border: 0px solid transparent !important;
  padding: 20px 16px !important;
}

.ant-btn {
  border-radius: 10px !important;
  border: 1px solid #fff !important;
  background-color: transparent !important;
  color: #fff !important;
  transition: all ease 0.15s !important;
}

.ant-btn:hover {
  background-color: #fff !important;
}

.ant-btn-primary:hover {
  color: #ea7490 !important;
}

.ant-btn-default:hover {
  color: #000 !important;
}

/* keyframes */

/* @keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scaleX(0.3);
  }
  20% {
    opacity: 0.5;
    transform: scaleY(0.3);
  }
  35% {
    opacity: 0.8;
    transform: scaleX(0.8);
  }
  55% {
    opacity: 0.8;
    transform: scaleY(0.8);
  }
  70% {
    opacity: 0.8;
    transform: scaleX(0.95) scale(0.95);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1.5);
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  20% {
    opacity: 0.5;
    transform: scaleY(1.05);
  }
  55% {
    opacity: 0.8;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleInTask {
  0% {
    opacity: 0;
    transform: scale(0.2);
    border-radius: 50px;
  }
  25% {
    opacity: 0.5;
    transform: scale(1.05);
    border-radius: 20px;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.95);
    border-radius: 10px;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOutTask {
  100% {
    opacity: 0;
    transform: scale(0.2);
    border-radius: 50px;
  }
  75% {
    opacity: 0.5;
    transform: scale(1.05);
    border-radius: 20px;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.95);
    border-radius: 10px;
  }
  0% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  75% {
    opacity: 0.8;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes neonLights {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 1px rgb(255 255 255 / 25%), 0 0 2px rgb(255 255 255 / 25%),
      0 0 3px rgb(255 255 255 / 25%), 0 0 4px rgb(255 255 255 / 25%),
      0 0 5px rgb(255 255 255 / 25%), 0 0 6px rgb(255 255 255 / 25%),
      0 0 7px rgb(255 255 255 / 25%), 0 0 8px rgb(255 255 255 / 25%),
      0 0 9px rgb(255 255 255 / 25%), 0 0 10px rgb(255 255 255 / 25%);
  }
}

@keyframes blurLights {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 1px rgb(255 255 255 / 25%), 0 0 2px rgb(255 255 255 / 25%),
      0 0 3px rgb(255 255 255 / 25%), 0 0 4px rgb(255 255 255 / 25%),
      0 0 5px rgb(255 255 255 / 25%), 0 0 6px rgb(255 255 255 / 25%),
      0 0 7px rgb(255 255 255 / 25%), 0 0 8px rgb(255 255 255 / 25%),
      0 0 9px rgb(255 255 255 / 25%), 0 0 10px rgb(255 255 255 / 25%),
      0 0 15px rgb(255 255 255 / 25%), 0 0 20px rgb(255 255 255 / 25%),
      0 0 25px rgb(255 255 255 / 25%), 0 0 30px rgb(255 255 255 / 25%),
      0 0 35px rgb(255 255 255 / 25%), 0 0 40px rgb(255 255 255 / 25%),
      0 0 45px rgb(255 255 255 / 25%), 0 0 50px rgb(255 255 255 / 25%),
      0 0 65px rgb(255 255 255 / 25%), 0 0 70px rgb(255 255 255 / 25%),
      0 0 85px rgb(255 255 255 / 25%), 0 0 90px rgb(255 255 255 / 25%);
  }
}

@keyframes jello {
  11.1% {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    transform: none;
  }
}
