body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: unset;
  line-height: 1.2;
  margin-bottom: 0;
}

code {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, monospace;
}
