.container {
  width: 30%;
  margin: auto;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.11);
  padding: 40px;
  border-radius: 20px;
  animation: scaleOut 0.7s ease,
    blurLights 1.5s ease-in-out 1s infinite alternate;
  border: 2px solid #fff;
}

.heading {
  margin-bottom: 50px;
  font-size: 50px;
  color: #fff;
  cursor: default;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.input {
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  /* border-radius: 10px; */
  background-color: transparent;
  outline: none;
  border: transparent 1px solid;
  border-bottom: #a3a3a3 1px solid;
  color: white;
}

.input::placeholder {
  color: #bbb;
  transition: all ease 0.15s;
}

.input:focus {
  border-bottom: #fff 1px solid;
}
.input:focus::placeholder {
  transform: translateX(5px);
  color: white;
}

.submit-btn {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bbb;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: all ease 0.5s;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 15px;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.submit-btn:hover {
  border: 1px solid #bbb;
  width: 100%;
  animation: neonLights ease 0.6s infinite alternate-reverse;
}

.submit-btn:hover .login-icon {
}

.input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input:-webkit-autofill {
  background-color: transparent !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}
